:root {
  /* COLOR */
  --clr-bg: 185 75% 39%;
  --clr-primary: 229 23% 23%;
  --clr-secondary: 227 10% 46%;
  --clr-gray: 0 0% 59%;

  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-kumbh-sans: "Kumbh Sans", sans-serif;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-kumbh-sans);
  font-weight: var(--fw-regular);
  padding: 1.5rem;
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

h1,
h2 {
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-primary));
  font-size: 1.125rem;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
