:root {
  /* COLOR */
  --clr-bg: 185 75% 39%;
  --clr-primary: 229 23% 23%;
  --clr-secondary: 227 10% 46%;
  --clr-gray: 0 0% 59%;

  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-kumbh-sans: "Kumbh Sans", sans-serif;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-kumbh-sans);
  font-weight: var(--fw-regular);
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-secondary));
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background: hsl(var(--clr-gray) / 50%);
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

main::before,
main::after {
  position: absolute;
  z-index: -1;
}

main::before {
  content: url("./images/bg-pattern-top.svg");
  top: 0;
  left: 0;
  transform: translate(-25%, -50%);
}

main::after {
  content: "";
  background: url("./images/bg-pattern-bottom.svg") no-repeat;
  width: 100%;
  height: 100%;
  bottom: -50%;
  right: -50%;
}

/* PROFILE CARD */

.profile-card {
  max-width: 21.875rem;
  background: hsl(var(--clr-white));
  border-radius: 0.875rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0.5rem 2rem 1rem hsl(var(--clr-black) / 10%);
}

/* CARD BODY */

.profile-card__body {
  position: relative;
}

.avatar {
  width: 6.875rem;
  height: 6.875rem;
  border-radius: 100%;
  overflow: hidden;
  border: 0.3125rem solid hsl(var(--clr-white));
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar img {
  width: 100%;
}

.profile-card__user {
  padding-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5625rem;
}

.profile-card__user-name,
.profile-card__stats-value {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-primary));
}

.profile-card__user-age {
  font-size: 1.125rem;
}

.profile-card__user-location {
  margin-block: 0.5625rem 1.5625rem;
  font-size: 0.875rem;
}

/* CARD FOOTER */

.profile-card__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  padding: 24px;
}

.profile-card__stats > * {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.3125rem;
}

.profile-card__stats-title {
  font-size: 0.625rem;
  font-weight: var(--fw-regular);
  letter-spacing: 0.1rem;
}
